{% extends 'base.twig' %}

{% block title %}View {{ sku.title }}{% endblock %}

{% block content %}
    <a href="/skus" class="waves-effect waves-light btn-flat">View all</a>
    <a href="/basket/add/{{ sku.code }}" class="waves-effect waves-light btn">Add to basket</a>

    <div class="row">
        <div class="col s9">
            <table>
                <tr>
                    <td>Title</td>
                    <td>{{ sku.title }}</td>
                </tr>
                <tr>
                    <td>Code</td>
                    <td>{{ sku.code }}</td>
                </tr>
                <tr>
                    <td>Price</td>
                    <td>{{ sku.price }}</td>
                </tr>
            </table>
        </div>
        <div class="col m3">
            <p>Basket</p>
            <p>Total: <strong>{{ basket.total }}</strong></p>
            <table>
                {% for item in basket.items %}
                    <tr>
                        <td>{{ item.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <a href="/basket/remove/{{ item.id }}">
                                <i class="material-icons">remove_circle</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
